name: Test Project
# push:
on : [push, workflow_dispatch]
jobs:
    test:
        runs-on: ubuntu-latest
        steps: 
        - name: Checkout code
        # uses do the checkout action to clone the repo
        # runs do the commands which we want to execute whereas uses do the actions
          uses: actions/checkout@v3
        - name: Set up NodeJS
          uses: actions/setup-node@v3
          with: 
            node-version: '18'
        - name: Install dependencies
        # npm ci will do a clean install of dependencies
        # and is preferred for CI environments
          run: npm ci
        - name: Run tests
          run: npm test
    deploy:
        runs-on: ubuntu-latest
        needs: test
        steps:
        - name: Checkout code
          uses: actions/checkout@v3
        - name: Set up NodeJS
          uses: actions/setup-node@v3
          with: 
            node-version: '18'
        - name: Install dependencies
          run: npm ci
        - name: Build application
          run: npm run build
        - name: Deploy application
          run: echo "Deploying application..." 
          # Add your deployment commands here
